.container {
    /* margin-top: 200px; */
    /* height: 100vh; */
    /* border: 1px solid red; */
    
  }
  
  .loginFormContainer {
    width: 24rem;
    /* height: 24rem; */
    background: white;
    border-radius: 5px;
  }

  /* .loginContainer {
    padding-top: 25px;
    margin-bottom: 35px;
  } */
  
  .loginFormLegend {
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #1D976C;
  }
  
  .errorMessage {
    font-size: 12px;
    letter-spacing: 0.05rem;
    padding-left: 0.25rem;
  }

  .demoform {
    display: flex; 
    justify-content: center;
    padding-bottom: 25px;
  }

