.card-container {
    border: 1px solid red; 
    width: 250px;
    height: 300px;
    margin: 20px; 
}
.card-container-img img{
    background-image: cover;
    border: 3px solid yellow; 
    width: 250px;  
    /* height: 70vh; */
    /* object-fit: contain; */
}