.editprofile-form label, .editprofile-form input .editprofile-form button {
    margin-right: 0.5rem; 
    display: block; 
    width: 100%;
    
}

.editprofile-container {
    border: 1px solid red; 
    width: 50%; 
    height: 80%; 
    display: flex; 
    flex-direction: column;
}
