.container {
    height: 100vh;
  }

.editProfileFormContainer {
    width: 48rem;
}

.editProfileFormLegend {
    width: 14rem;
    background: lightseagreen;
  }

.errorMessage {
    font-size: 12px;
    letter-spacing: 0.05rem;
    padding-left: 0.25rem;
  }

  .bothforms {
      display: flex; 

  }
