.container {
    height: 100vh;
    display: flex; 
    flex-direction: column;
  }

.editProfileFormContainer {
    margin-top: 50px; 

}


.editProfileFormLegend {
    width: 14rem;
    background: lightseagreen;
  }

 .form-1 {
   margin: 30px; 
 }

.errorMessage {
    font-size: 12px;
    letter-spacing: 0.05rem;
    padding-left: 0.25rem;
  }

  .bothforms {
      display: flex; 

  }

  .second-form {
    padding: 30px; 
  }

  .form-group {
    margin-left: 50px; 
  }
