.rating-container {
    display: flex;  
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    /* display: none;  */

}

.star {
    cursor: pointer; 
    transition: color 200ms;   

}
/* .star-label {
    display: flex;
    flex-direction: ;
} */
