.container {
    height: 100vh;
    background: #1D976C; 
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  
    background: linear-gradient(to right, #93F9B9, #1D976C); 
  }
  
  .registrationFormContainer {
    width: 24rem;
    background: white;
    border-radius: 10px;
  }
  
  .registrationFormLegend {
    width: 14rem;
    color: #1D976C;
    /* background: lightseagreen; */
  }

  .errorMessage {
    font-size: 12px;
    letter-spacing: 0.05rem;
    padding-left: 0.25rem;
  }